@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-sea {
  flex-grow: 1;
  background-image: url('/oceano.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.bg-sea0 {
  flex-grow: 1;
  background-image: url('/oceano-opacity.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.text-custom-shadow {
  text-shadow: 1px 1px 1px rgb(0,0,0,0.2)
}

.oval {
  width: 100%;
  height: 80px;
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

.curva-top {
  height: 40px;  /* Altura maior para criar a curva */
  border-radius: 0 0 50% 50%;  /* Criando a curva */
  overflow: hidden;  /* Escondendo a parte reta indesejada */
}

.curva-bottom {
  height: 40px;
  border-radius: 50% 50% 0 0;
  overflow: hidden;
}
